<div class="container">
  <div class="card mb-3">
    <h5 class="cart-heading">My cart({{cart.length}})</h5>
    <div class="row g-0" *ngFor="let crt of cart.data">
      <div class="col-md-4" >
        <img  [src]="crt.bookData.bookImg" width="80" hight="120"class="img-fluid rounded-start" alt="Loading...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
           <h5 class="card-title">{{crt.bookData.bookName}}</h5> 
          <p class="card-text">by {{crt.bookData.autherName}}</p>
          <p class="card-text">RS.{{crt.bookData.price}}</p> 
          <div class="quantity-change">
            <button type="button" class="btn  quantity-button" *ngIf="crt.quantity>1"  (click)=" updateCartsubstract(crt.cartId,crt)">-</button>
            <input type="text" name="quantity" class="book-quantity" [(ngModel)]="crt.quantity">
            <button type="button" class="btn  quantity-button" (click)="updateCartadd(crt.cartId,crt)" >+</button>
            <a class="remove" (click)="deleteCart(crt.cartId)">Remove</a>
          </div>
        </div>
        
      </div>
      
    </div>
    <div class="place-order" >
      <button type="button" class="btn placeorder-button" (click)="placeOrder()" >Place Order</button>
    </div>  
  </div>

  
  <router-outlet></router-outlet>
  